@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --font-serif: 'IBM Plex Serif', 'Georgia', Times, serif;
    --font-sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    --font-monospace: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: white;
        --main-bg-accent-color: #f4f4f4;
        --main-text-color: black;
        --link-color: rgb(3, 102, 214);
        --table-border-color: #d0d7de;
        --table-alt-color: #f6f8fa;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #22272e;
        --main-bg-accent-color: rgb(45,51,59);
        --main-text-color: rgb(173, 186, 199);
        --link-color: rgb(83, 155, 245);
        --table-border-color: #444444;
        --table-alt-color: #2d333b;
    }
}

blockquote {
    font-family: var(--font-sans-serif);
    font-style: italic;
}

pre, code {
    font-family: var(--font-monospace);
}

h1, h2, h3 {
    font-family: var(--font-serif);
    font-weight: 600;
}

h1 {font-size: 26px; line-height: 26px;}
h2 {font-size: 20px; line-height: 26px;}

html {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
body {
    max-width: 45em;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
}
pre {
    white-space: pre-wrap;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons form {display: inline-block;}
.buttons button {border: 0; background-color: transparent;}

nav.taglist {
    text-align: right;
}
.tagname {
    font-family: var(--font-sans-serif);
    font-style: italic;
}
.tagname::before {content: '#';}
a.tagname {color: var(--main-text-color);}

:any-link {color: var(--link-color); text-decoration: none;}
:any-link:hover {text-decoration: underline;}

.feather {
    width: 24px;
    height: 24px;
    stroke: var(--main-text-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.search-snippet {
    font-family: var(--font-sans-serif);
}
table {
    font-family: var(--font-sans-serif);
    border-collapse: collapse;
    border-spacing: 0;
}
thead {
    text-align: center;
    font-weight: 600;
}
th, td {
    padding: 6px 13px;
    border: 1px solid var(--table-border-color);
}
tr:nth-child(2n) {
    background-color: var(--table-alt-color);
}
