/* :root {color-scheme: light dark;} */

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: white;
        --main-bg-accent-color: #f4f4f4;
        --main-text-color: black;
        --link-color: rgb(3, 102, 214);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #22272e;
        --main-bg-accent-color: rgb(45,51,59);
        --main-text-color: rgb(173, 186, 199);
        --link-color: rgb(83, 155, 245);
    }
}

/* font customizations from https://www.cssfontstack.com */
h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 26px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; }
h2 { font-family: "Arial Narrow", Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; }
p, ul, ol { font-family: Georgia, Times, "Times New Roman", serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 26px; }
blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 26px; }
pre, code { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 26px; }

html {
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.5;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
body {
    max-width: 45em;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
}
pre {
    white-space: pre-wrap;
}
p, ul, ol {line-height: 1.5;}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row ;
}
.buttons form {display: inline-block;}
.buttons button {border: 0; background-color: transparent;}

:any-link {color: var(--link-color); text-decoration: none;}
:any-link:hover {text-decoration: underline;}

.feather {
    width: 24px;
    height: 24px;
    stroke: var(--main-text-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}