<!doctype html><head><meta charset="utf-8"><title>Edit page</title>
    <style>
        html,body{margin: 0; padding: 0;}
        div#editor {height: 100vh; box-sizing: border-box; overflow: hidden;}
    </style>
</head>
<body>
    <form method="POST" id="MyForm">
        <div id="editor" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"></div>
        <input required type="hidden" id="text" name="text">
        <!-- <input type="submit" value="Save" id="submitButton" onclick="save()"> -->
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs/loader.min.js" integrity="sha512-SExj71Cw3B9C9EE8BC/ad3AKia5zQXDj/2SM4THgkeKh5GIFZhKM/R3uclUG8YZwJrjcVhydAlIHmfNvsBCKZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.27.0/min/vs' }});
    require(['vs/editor/editor.main'], function() {
        let theme = "vs";
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            theme = "vs-dark";
        }
        window.editor = monaco.editor.create(document.getElementById('editor'), {
            value: "{{.Text}}",
            language: 'markdown',
            lineNumbers: "off",
            wordWrap: "bounded",
            wordWrapColumn: 100,
            wrappingIndent: "same",
            fontSize: 14,
            roundedSelection: false,
            scrollBeyondLastLine: false,
            quickSuggestions: false,
            minimap: {enabled:false},
            theme: theme,
        });

        window.editor.addCommand(monaco.KeyMod.CtrlCmd | monaco.KeyCode.KEY_S, function() {
            var inp = document.getElementById('text');
            inp.value = window.editor.getValue();
            document.forms['MyForm'].submit();
        });

        window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", e => {
            if (e.matches) {
                console.log('Dark mode');
                monaco.editor.setTheme("vs-dark");
            } else {
                console.log('Light mode');
                monaco.editor.setTheme("vs");
            }
        })

        const divElem = document.getElementById('editor');
        const resizeObserver = new ResizeObserver(entries => {
            window.editor.layout();
        });
        resizeObserver.observe(divElem);
    });

    function uploadCallback() {
        if (this.status != 200) {
            console.log('upload status: '+this.status);
            alert('Upload failed, status: '+this.statusText);
            return
        }

        var selection = window.editor.getSelection();
        var id = { major: 1, minor: 1 };
        var text = this.response.URL;
        var op = {identifier: id, range: selection, text: text, forceMoveMarkers: true};
        window.editor.executeEdits("upload", [op]);
    }

    function dropHandler(ev) {
        ev.preventDefault();
        if (ev.dataTransfer.items.length != 1) {
            alert('only single file drops supported');
            return
        }
        // If dropped items aren't files, reject them
        if (ev.dataTransfer.items[0].kind !== 'file') {
            return
        }
        var file = ev.dataTransfer.items[0].getAsFile();

        var formData = new FormData();
        formData.append("document", document.URL);
        formData.append("file", file);
        var req = new XMLHttpRequest();
        req.timeout = 60000; // milliseconds
        req.responseType = "json";
        req.onload = uploadCallback;
        req.open("POST", "/.files");
        req.send(formData);
    }

    function dragOverHandler(ev) {
        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();
    }
</script>
</body>
