<!doctype html><title>{{.Title}}</title>
<meta name="referrer" content="same-origin">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/.assets/style.css">{{if .HasCode}}
<link rel=stylesheet media="screen and (prefers-color-scheme: dark)" href=/.assets/hljs/11.5.1/ashes.min.css>
<link rel=stylesheet media="screen and (prefers-color-scheme: light)" href=/.assets/hljs/11.5.1/foundation.min.css>
<script src=/.assets/hljs/11.5.1/highlight.min.js></script>
<script>hljs.highlightAll();</script>{{end}}

<nav class="buttons">
    <form><button formmethod="GET" formaction="/">index</button></form>
    <div style="text-align: right;">
        <form method="GET"><button name="edit">edit</button></form>
        <form method="POST"><button onclick="return confirm('Are you sure?')" name="delete" value="true">
            delete
        </button></form>
    </div>
</nav>
{{with .Tags}}<nav class="taglist">{{range $index, $tag := . -}}
    {{- if ne $index 0}},&nbsp;{{end -}}
    <span class="tagname">{{$tag}}</span>
    {{- end}}</nav>{{end}}
{{if .TOC}}<nav id="auto-toc"><details open><summary>Contents</summary>
<ul>{{range .TOC}}
    <li class="h{{.Level}}"><a href="#{{.Slug}}">{{.Text}}</a>
{{end}}</ul>
</details></nav>{{end}}
<main>{{.Text}}</main>
